<p id="notice"><%= notice %></p>

<h1>Listing Salesforce Lead</h1>

<table id="table-board" class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Company</th>
    <th>Job title</th>
    <th>Phone</th>
    <th>Website</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.FirstName %></td>
        <td><%= lead.LastName %></td>
        <td><%= lead.Email %></td>
        <td><%= lead.Company %></td>
        <td><%= lead.Title %></td>
        <td><%= lead.Phone %></td>
        <td><%= lead.Website %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'Back', contatos_path, :class => 'btn btn-primary btn-lg outline' %>

